body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding:0;
  margin: 0;
}

span.bold {
  font-weight: bold;
}

div.App {
  clear: both;
}

div.App-listContainer {
  margin: auto;
  width: 50vw;
  height: 100vh;
  /*border: 1px solid black;*/
  overflow-y: auto;
  float:left;
}

div.App-mapContainer {
  width: 50vw;
  height: 100vh;
  float: left;
}

li.QuakeListItem {
  border-bottom: 1px solid #ccc;
  clear: both;
}

li.QuakeListItem div {
  float: left;
  padding: 10px;
}

li.QuakeListItem div.QuakeListItem-mag {
  width: 50px;
  text-align: left;
}

li.QuakeListItem div.QuakeListItem-time {
  float: right;
  text-align: right;
}
